doctype html
html
  head
    title ET for Freecodecamp
  body
    br
    if error1
      #datago 
        p #{message}


    button(onclick='goBack()') Go Back
    script.
      function goBack() {
      window.history.back();
      }
       