doctype html
html
  head
    title ET for Freecodecamp
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    .container
      h1 Exercise tracker
      form(action='/api/exercise/new-user', method='post')
        h3 Create a New User
        input#uname(type='text', name='username', placeholder='username')
        input(type='submit', value='Submit')
      form(action='/api/exercise/add', method='post')
        h3 Add exercises
        input#uid(type='text', name='userId', placeholder='Id')
        input#desc(type='text', name='description', placeholder='description')
        input#dur(type='text', name='duration', placeholder='duration (mins)')
        input#dat(type='text', name='date', placeholder='date (yyyy-mm-dd)')
        input(type='submit', value='Submit')
      p
      form(action='/api/exercise/log?userId', method='get')
        h3 GET users's exercise log: 
        input#uid(type='text', name='userId', placeholder='Id')
        input(type='submit', value='Submit')
      
    button(onclick='goBack()') Go Back
    script.
      function goBack() {
      window.history.back();
      }
